main {
  width: 100vw;
  overflow: auto;
  overflow-x: hidden;
}

body {
  text-align: center;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Archivo Narrow", sans-serif;
  background: url(imagens/mad.png) center/ 100% no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.img-logo {
  width: 206px;
}

.container-form {
  display: flex;
  justify-content: center;
}

.welcome {
  font-size: larger;
}

.text-style {
  text-shadow: 0 0 0.2em #c6a02a;
}

.input-log {
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #e6b908;
  font-size: 15px;
  text-align: center;
  margin: 20px;
  padding: 9px;
}

.login-error {
  width: 60%;
  margin-left: 18%;
  padding: 6px;
  font-size: large;
  padding-top: 26px;
  text-shadow: 0 0 0.2em #e6b908;
}

.icons,
.olho {
  height: 30px;
  width: 30px;
}

.icons {
  margin: 6px;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.container-log,
.container-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid hsl(48, 100%, 66%);
  padding: 20px;
  background: #f1cb3257;
  border-radius: 6px;
  width: 80%;
}

.input-li {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #e6b908;
  font-size: 15px;
  text-align: center;
  background: white;
  width: 262px;
  margin: 20px;
}

.center {
  align-self: center;
}
.center {
  align-self: center;
  display: flex;
}
.align-input {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.register-page-bttns {
  display: flex;
  flex-direction: row;
}

.bttn-style {
  border: 2px solid #e6b908;
  color: white;
  font-size: 15px;
  padding: 5px;
}

.margin {
  margin-right: 34px;
}

.input {
  padding: 10px;
  border: 0;
  text-align: center;
}

.login-bttn,
.register-bttn,
.return-bttn,
.post-bttn {
  background-color: #e6b908;
  background-image: linear-gradient(-2deg, #8c5818, transparent);
  border-radius: 10px;
  border: 2px solid #e6b908;
  font-size: 15px;
  text-align: center;
  justify-content: center;
}

.logo-cad {
  display: flex;
  display: none;
}

.register-error {
  color: black;
  border: 2px solid #f4f4f4;
  border-radius: 6px;
  padding: 6px;
  background-color: #ca9b266b;
  font-size: medium;
  text-shadow: 0 0 0.2em #e6b908;
}

.register-done {
  padding: 20px;
  font-size: larger;
  background: #e6b908bd;
  border-radius: 6px;
  text-shadow: 0 0 0.2em #e6b908;
  width: 70%;
}

@media (min-width: 768px) {
  .img-logo {
    width: 400px;
  }

  .container-log,
  .container-div {
    flex-direction: row;
  }

  .container-form {
    justify-content: flex-end;
    flex-direction: column;
  }

  .form {
    border: 2px solid hsl(48, 100%, 66%);
    padding: 20px;
    background: #f1cb3257;
    border-radius: 6px;
    width: 83%;
  }

  .logo-cad {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-container {
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 34%;
    margin-right: 36px;
  }

  .register-done {
    width: 34%;
    font-size: x-large;
  }
}
