a {
  text-decoration: none;
}

input[type="checkbox"] {
  display: none;
}

.nav {
  background-color: rgba(16, 16, 16, 0.74);
 /* width: 50%;*/
/*  height: 100%;*/
 /* left: -50%;*/
  position: absolute;
  /*top: 3px;*/
  transition: all 0.5s;
  width: 103px;
  left: -282px;
  margin-top: 33px;
}

input[type="checkbox"]:checked ~ .nav {
  transform: translateX(282px);
}

.feed-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.menu-inicial {
  padding: 1%;
  margin: 2%;
}

.cor-menu {
  background-color: orangered;
  align-self: stretch;
  width: 100vw;
}

.title {
	align-items: center;
	margin: 2%;
  }

.link {
  display: block;
  padding: 20px 5px;
  color: white;
  border: 2px solid white;
  margin: 8px;
}

.link:hover {
  background-color: rgba(195, 152, 33, 0.753);
  color: black;
}

.icone {
  position: absolute;
  z-index: 1;
  /*cursor:pointer;*/
}

.perfil-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.perfil-style {
  align-self: auto;
  margin: 2%;
}

.foto-style {
  width: 50%;
  border-radius: 50%;
  box-sizing: border-box;
}

.bio-infos {
  align-self: stretch;
}

.post-container,
.newpost-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}




.post-area {
  margin-top: 20px;
  border-radius: 2%;
  background: #ffde59;
  width: 92%;
}

.textarea-style {
  width: 250px;
  border-radius: 3%;
  margin: 5px 10px;
  height: 60px;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #4c3313;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 15px;
  resize: none;
}

.post-btn-area {
  display: flex;
  width: 100%;
  background: turquoise;
  align-items: center;
  justify-content: space-around;
  /* align-items: center;
		justify-content: space-between; */
}

.btn-area-posted {
	display: flex;
	width: 20px;
	background: turquoise;
}

.btn-style {
  background-color: tomato;
}

.post-box {
	align-self: center;
	padding: 2%;
	border-radius: 2%;
	background: #ffde59;
	width: 95%;
	color: black;
  }

  .newpost-container {
	list-style-type: none;
	padding: 2%;
	display: flex;
	/* width: 100vw; */
	justify-content: center;
  }

/* .carregando {
  align-self: center;
} */
.newpost-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {

.post-container {
		display: flex;
		justify-content: flex-end;
		width: 45%;
}