a {
  text-decoration: none;
}

input[type="checkbox"] {
  display: none;
}

.nav {
  background-color: rgba(16, 16, 16, 0.74);
  /* width: 50%;*/
  /*  height: 100%;*/
  /* left: -50%;*/
  position: absolute;
  /*top: 3px;*/
  transition: all 0.5s;
  width: 103px;
  left: -282px;
  margin-top: 33px;
}

input[type="checkbox"]:checked~.nav {
  transform: translateX(282px);
}

.feed-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: auto;
  /* align-content: flex-start;
  align-items: center; */
}

.menu-inicial {
  padding: 1%;
  margin: 2%;
  padding-bottom: 9%;
}

.cor-menu {
  background-color: #e6b908;
  align-self: stretch;
  width: 100vw;
  border: 2px solid #fefbe0;
}

.title {
  align-items: center;
  margin: 2%;
  padding-top: 2%;
  text-shadow: 0 0 0.2em #3f261d;
  font-size: larger;
}

.link {
  display: block;
  padding: 20px 5px;
  color: white;
  border: 2px solid #c3b176;
  margin: 8px;
}

.link:hover {
  background-color: rgba(195, 152, 33, 0.753);
  color: black;
}

.icone {
  position: absolute;
  z-index: 1;
  /*cursor:pointer;*/
}

.perfil-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  padding-top: 6%;
}

.perfil-style {
  align-self: auto;
  margin: 3%;
  border: 2px solid #fefbe0;
  padding: 24px;
  border-radius: 4px;
  background: #c4b275bd;
}

.foto-style {
  width: 58%;
  border-radius: 50%;
  box-sizing: border-box;
}

.post-container, .newpost-container {
  /* display: flex;
  justify-content: center;
  width: 100vw; */
}

/* box que engloba toda a parte de post e comentários */

.post-and-coment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4px;
  width: 95%;
  padding: 1.5%;
}

.post-area {
  margin-top: 4px;
  background: #f1cb32bf;
  border: 2px solid lightyellow;
  padding-top: 30px;
  border-radius: 4px;
}

.textarea-style {
  width: 80%;
  border-radius: 4px;
  margin: 5px 10px;
  height: 90px;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #4c3313;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 15px;
  resize: none;
}

.post-btn-area {
  display: flex;
  width: 100%;
  background: #c1beaf9c;
  align-items: center;
  justify-content: space-around;
  /* align-items: center;
		justify-content: space-between; */
}

.btn-area-posted {
  display: flex;
  /* width: 20px; */
  background: #c7b579;
  /* flex-direction: row; */
  justify-content: space-around;
}

.feed-bttn {
  border-radius: 9px;
  border: 1px solid #fefbe0;
  color: white;
  text-shadow: 0 0 0.2em #56373a;
  padding: 8px;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 800;
  font-size: medium;
  background-color: #e6b908;
  background-image: linear-gradient(-2deg, #8c5818, transparent);
  margin: 4px;
}

/* .btn-style {
  color: white;
  padding: 5px;
    font-family: "Archivo Narrow", sans-serif;
} */

.posted-area {
  margin-top: 5px;
  border-radius: 2%;
  background: #c1beaf99;
  border: 2px solid lightyellow;
}

.header-postedarea {
  padding: 8px 30px 5px 0px;
}

.post-box {
  background: white;
  border-radius: 4px;
  margin: 5px 10px;
  border-bottom: 1px solid #4c3313;
  padding-left: 10px;
  padding-top: 5px;
  color: black;
  text-align: initial;
  font-size: larger;
  width: 80%;
  resize: none;
  height: 80px;
  /* align-self: center;
	padding: 2%;
	border-radius: 2%;
	background: #ffde59;
	border-bottom: 1px solid #4c3313;
	width: 300px;
	color: black;
	height: 80px;
  padding-top: 3%; */
}

.name {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  padding-left: 12px;
  text-shadow: 0 0 0.2em #56373a;
}

.li-posted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}

.hide {
  display: none;
}

.carregando {
  margin-top: 200px;

}


.newpost-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1499px) {
  .menu-inicial {
    padding: 0%;
    margin: 23px;
    padding-bottom: 20px;
  }
  .title {
    padding-top: 7px;
  }
  .entire-container {
    display: flex;
  }
  .perfil-container {
    padding-top: 1.5%;
    padding-left: 10px;
  }
}

.perfil-style {
  border: 2px solid #fefbe0;
  border-radius: 4px;
  background: #f1cb32a1;
}

.feed-bttn {
  font-size: larger;
}

.post-and-coment {
  /* padding: 2%; */
}

.post-box {
  font-size: larger;
}

.posted-area {
  border-radius: 1%;
}

.hide {
  display: none;
}

/* .post-container {
		display: flex;
		justify-content: flex-end;
		width: 45%;
} */

@media only screen and (min-width: 1500px) {
  .cor-menu {
    height: 12%;
  }

  .feed-container {
    height: 105px;
  }

  .feed-bttn {
    font-size: larger;
  }

  .img-menu {
    height: 43px;
  }

  .title {
    padding-top: 22px;
    font-size: xx-large;
  }

  input[type="checkbox"]:checked~.nav {
    transform: translateX(324px);
  }

  .link {
    display: block;
    padding: 28px 5px;
    color: white;
    text-shadow: 0 0 0.2em #3f261d;
    border: 2px solid #e6b92c;
    margin: 8px;
    font-size: xx-large;
  }

  .entire-container {
    display: flex;
  }

  .perfil-style {
    font-size: xx-large;
  }

  .post-and-coment {
    padding-top: 32px;
    width: 60%;
    margin: 8px;
  }

  .textarea-style {
    margin: 24px;
    padding: 18px;
    font-size: xx-large;
  }

  .perfil-container {
    padding-left: 30px;
    margin-top: -4.5%;
  }

  .name {
    padding: 15px;
    font-size: x-large;
  }

  .post-box {
    padding: 20px;
    font-size: x-large;
  }

  .btn-area-posted {
    margin-top: 12px;
  }
}