main {
  width: 100vw;
  display: flex;
}

body {
  text-align: center;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  font-family: "Archivo Narrow", sans-serif;
  background: url(imagens/mad.png) center/ 100% no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* logo */
.img-logo {
  width: 206px;
}

/* container do login com inputs e botões */
.container-form {
  display: flex;
  justify-content: center;
}

.welcome {
  font-size: larger;
}

/* inputs da página login */
.input-log {
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #e6b908;
  font-size: 15px;
  text-align: center;
  margin: 20px;
  padding: 9px;
}

/* espaço da mensagem de erro da pagina login */
.login-error {
  margin-top: 8%;
} 

/* ícones google e olho */
.icons, .olho {
  height: 30px;
  width: 30px;
}

/* link para o cadastre-se */
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

/* PAGINA DE CADASTRO */

/* container pai da pagina do login e do cadastro */
.container-log, .container-div{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* container filho da pagina de cadastro com inputs e botões */
.register-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  /* padding: 0.5em; */
  display: table-caption;
}

/* inputs do li da página de cadastro */
.input-li {
  align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #e6b908;
    font-size: 15px;
    text-align: center;
    background: white;
    width: 262px;
    margin:20px; 
}

/* area que deixa os botões lado a lado na página cadastro */
.register-page-bttns {
  display: flex;
  flex-direction: row;
}

/* propriedade de cada botão */
.bttn-style {
  border: 2px solid #e6b908;
  color: white;
  font-size: 15px;
  padding: 5px;
}

/* margin do botão de cadastro */
.margin{
  margin-right: 34px;
}

/* padding e bordas dos inputs da pagina cadastro */
.input {
  padding: 12px;
  border: 0;
  text-align: center;
  /* 0.5em; */
  /* margin: 1em 0; */
}

.login-bttn,
.register-bttn,
.return-bttn,
.post-bttn {
  background-color: #8c5818;
  background-image: linear-gradient(3deg, #ffdc53, transparent);
  border-radius: 10px;
  border: 2px solid #e6b908;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  margin: 20px;
  
  /* padding: 2%; */
}

/* mensagens de erro da pagina de login e cadastro */
.message, .login-cad{
  color: white;
  flex-direction: column;
  display: flex;
  align-content: center;
}

/* logo que não aparece da pagina de cadastro mobile */
.logo-cad {
  display: flex;
  display:none;
   }

/* .register-error {
  text-decoration: none;
  color: #271b1b;
  width: 100px;
  background-color: #e6b908;
  height: 100px;
  margin-top: 16px;
  margin-left: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
} */


@media only screen and (min-width: 768px) {
  
  .img-logo{
    width: 400px;
  }

  /* containers pai das paginas de login e cadastro */
  .container-log, 
  .container-div {
    flex-direction: row;
    padding: 24px; 
  }

  /* container que recebe todos os inputs e botoes da pagina de login responsiva */
  .container-form {
    justify-content: flex-end;
    flex-direction: column;
  }

  /* bordas do conteiner da pagina de login responsiva */
  .form {
    border: 2px solid hsl(48, 100%, 66%);
    padding: 20px;
  }

/* PAGINAS DE CADASTRO */

/* logo que aparece na pagina de cadastro responsiva */
.logo-cad {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  /* container que recebe os inputs e botoes da pag cadastro responsiva */
  .register-container{
    justify-content: center;
    flex-flow: column;
    align-items: center;
    }
  }
  
