a {
  text-decoration: none;
  color: black;
}

input[type="checkbox"] {
  display: none;
}

.nav {
  background-color: rgba(16, 16, 16, 0.74);
  width: 50%;
  height: -2%;
  left: -300px;
  position: absolute;
  top: 1%;
  transition: all 0.5s;
}

input[type="checkbox"]:checked ~ .nav {
  transform: translateX(300px);
}

.link {
  display: block;
  padding: 20px 5px;
  color: white;
}

.link:hover {
  background-color: rgba(195, 152, 33, 0.753);
  color: black;
}
.icone {
  position: absolute;
  z-index: 1;
  /*cursor:pointer;*/
}

.feed-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.title {
  align-items: center;
  margin: 2%;
}

.cor-menu {
  background-color: orangered;
  align-self: stretch;
  width: 100vw;
}

.perfil-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.perfil-style {
  align-self: auto;
  margin: 2%;
}

.foto-style {
  width: 50%;
  border-radius: 50%;
  box-sizing: border-box;
}

.bio-infos {
  align-self: stretch;
}

.post-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.newpost-container {
  list-style-type: none;
  padding: 2%;
  display: flex;
  /* width: 100vw; */
  justify-content: center;
}

.post-area {
  margin-top: 20px;
  border-radius: 2%;
  background: #ffde59;
  width: 95%;
}

.post-box {
  align-self: center;
  padding: 2%;
  border-radius: 2%;
  background: #ffde59;
  width: 95%;
  color: black;
}

.post-textarea {
  padding: 2%;
  color: black;
}

.textarea-style {
  width: 85%;
  border-radius: 3%;
  margin: 5px 10px;
  height: 60px;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #4c3313;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 15px;
  resize: none;
}

.post-btn-area,
.btn-area-posted {
  display: flex;
  width: 100%;
  background: turquoise;
  align-items: center;
  justify-content: space-around;
  /* align-items: center;
	justify-content: space-between; */
}

.btn-area-posted {
  width: 99%;
}

.menu-inicial {
  padding: 1%;
  margin: 2%;
}

.like {
  width: 5%;
  height: 5%;
}
